# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.7demake.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\ross\gamedev\7demake\.idea\.idea.7demake\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
